$bgColor: slategray;
$buttonBgColor: slategray;
$textColor: #94FBAB; // mint green

.custom-button {
  background: $buttonBgColor;
  color: white;
  border: 3px solid $textColor;
  border-radius: 40px;
}
.custom-button:hover {
  filter: brightness(80%);
}